<div class="main-container">
 <h2>How to Apply for a Birth Certifcate</h2>	
 <hr>
 <h4> Procedure</h4>
<ul>
	<li>Apply Online</li>
	<p>Click on the right menu and start a new application</p>	

	<li> Visit Vital Statistic Unit</li>
	<ol>
		<li>Go to the Vital Statistics Unit to obtain the certificates.</li>
		<li>Fill up the request form.</li>
		<li>Pay the fee</li>
	</ol>
</ul>
<hr>	
   <h4> Office Locations & Contacts</h4>
   <pre>	<b>Vital Statistics Unit</b> </pre>
<pre>	New Road and Hydes Lane, Belize City</pre>
<pre>	Tel: +(501)-223-5625/ 7405</pre>
<pre>	Fax: +(501)-223-56</pre>
<hr>



<h4>Fees</h4>

<p>For Each Copy of Birth Certificate</p>
<ul>
	<li>One Week Service: $4.00 </li>
<li>One Day Service: $7.00</li>
<li>Express Service: $15.00</li>
</ul>

</div>