<div class="mat-elevation-z12">
  <mat-toolbar color="primary" mat-elevation-z12>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="redicon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="callRoute('main')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="callRoute('application/new')">
        <mat-icon>description</mat-icon>
        <span>New Application</span>
      </button>
      <button mat-menu-item (click)="callRoute('application/history')">
        <mat-icon>history</mat-icon>
        <span>Application History</span>
      </button>
    </mat-menu>

    <span class="logo">&nbsp;{{ title }}</span>
    <span class="fill-remaining-space"></span>

    <!-- Here we are rendering the buttons on top -->
    <p *ngFor="let btnItem of buttonMenus">
      <button
        mat-button
        [routerLink]="[btnItem.btnUrlPath]"
        *ngIf="displayMenu"
      >
        {{ btnItem.btnTitle }}
        <mat-icon *ngIf="btnItem.btnIcon">{{ btnItem.btnIcon }}</mat-icon>
      </button>
    </p>

    <div class="left-nav-bar" *ngIf="!displayMenu">
      <button mat-button (click)="callRoute('login')">Sign In</button>
    </div>
    <div class="left-nav-bar" *ngIf="displayMenu">
      <button mat-button (click)="logOut()">Sign Out</button>
    </div>
  </mat-toolbar>
</div>

<mat-card>
  <mat-card-content> <router-outlet></router-outlet> </mat-card-content>
</mat-card>

<mat-card>
  <div class="align-center">
    <mat-card-content class="no-padding">
      © Copyright {{ copyrightYear }} | Belize Vital Statistics Unit
    </mat-card-content>
  </div>
</mat-card>
