<div class="mat-elevation-z12">
  <mat-toolbar color="primary" mat-elevation-z12>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="callRoute('main')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="callRoute('application/new')">
        <mat-icon>description</mat-icon>
        <span>New Application</span>
      </button>
      <button mat-menu-item (click)="callRoute('application/new')">
        <mat-icon>history</mat-icon>
        <span>Application History</span>
      </button>
    </mat-menu>

    <span class="logo">&nbsp;{{title}}</span>
    <span class="fill-remaining-space"></span>

    <!-- Here we are rendering the buttons on top -->
    <p *ngFor="let btnItem of buttonMenus">
      <button mat-button [routerLink]="[btnItem.btnUrlPath]" *ngIf="displayMenu">{{btnItem.btnTitle}}
        <mat-icon *ngIf="btnItem.btnIcon">{{btnItem.btnIcon}}</mat-icon>
      </button>
    </p>

    <button mat-icon-button *ngIf="displayMenu" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </mat-toolbar>
</div>

<mat-card>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>

<!-- <mat-drawer-container class="sidebar-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-expansion-panel *ngFor="let group of leftGroups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon *ngIf="group.icon" matListIcon color="{{group.color}}">{{group.icon}}</mat-icon>
          {{group.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list *ngFor="let item of leftMenu | filterIt:{group:group.name}">
        <mat-list-item>
          <a matLine [routerLink]="[item.urlPath]">{{item.title}}</a>
          <mat-icon *ngIf="item.icon" matListIcon color="{{item.color}}">{{item.icon}}</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-expansion-panel>

    <mat-nav-list *ngFor="let item of leftMenu | filterIt:{group:''} | filterRole:{roles: currentRole()} ">
      <mat-list-item>
        <a matLine [routerLink]="[item.urlPath]">{{item.title}}</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>

    <mat-nav-list *ngIf="displayMenu">
      <mat-list-item>
        <button mat-icon-button *ngIf="isLogged()" (click)="logOut()">
          <mat-icon color="accent">exit_to_app</mat-icon> Log Out
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer> -->

<!-- <mat-drawer-content> -->
<!-- <mat-toolbar mat-elevation-z12>
      <span class="fill-remaining-space"></span>
      <p class="salutation" *ngIf="displayMenu">
        Good day, {{userInfo.displayName}}
      </p>
    </mat-toolbar> -->

<!-- <router-outlet></router-outlet>
</mat-drawer-content> -->
<!-- </mat-drawer-container> -->