$md-primary: (
  50: #eee1f8,
  100: #d5b4ec,
  200: #b982e0,
  300: #9d4fd4,
  400: #882aca,
  500: #7304c1,
  600: #6b03bb,
  700: #6003b3,
  800: #5602ab,
  900: #43019e,
  A100: #dcc9ff,
  A200: #ba96ff,
  A400: #9963ff,
  A700: #8949ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$md-secondary: (
  50: #e6f7e7,
  100: #c1eac4,
  200: #98dc9d,
  300: #6fce76,
  400: #50c458,
  500: #31b93b,
  600: #2cb235,
  700: #25aa2d,
  800: #1fa226,
  900: #139319,
  A100: #c6ffc8,
  A200: #93ff96,
  A400: #60ff65,
  A700: #47ff4c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
